/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Product%20Sans:400,700&display=swap');
:root {
    --font: 'Prodcut Sans', 'Product Sans', sans-serif;
}

body {
    background: #0e0e0f;
    opacity:0;
    transition:.25s;
}

@media only screen and (min-width: 600px) {
#body {
	max-width: 650px;
	margin: auto;
	position: absolute;
    left: 50%;
    top: 35%;
	transform: translate(-50%, -50%);
}

#body2 {
    max-width: 650px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}
}

.theme-light {
    --color-main: #272727;
    --color-hover: #3A3D5F;
    --color-text: #fff;
 }

#Photo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 8px auto 13px;
    border-radius: 8px;
    margin-bottom: 5px;
}

#Name {
    color: #971D0A;
    font-size: 38px;
    font-weight: 700;
    display: block;
    font-family: 'Product Sans';
    width: 100%;
    text-align: center;
}

#Name2 {
    color: #971D0A;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.75;
    display: block;
    font-family: 'Product Sans';
    width: 100%;
    text-align: center;
}

#title {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    font-family: var(--font);
    max-width: 450px;
    /* width: 100%; */
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

#linksbutton {
    max-width: 350px;
    width: auto;
    display: block;
    margin: 15px auto 15px auto;
}

.links {
    display: block;
    background-color: #272727;
    /* background-color: rgba(255, 255, 255, 0.0 ); */
    color: #ffffff;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 8px;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid #272727 2px;
}

.links:hover {
    background-color: #3A3D5F;
    border: solid #3A3D5F 2px;
}


.socials {
    width: auto;
    text-align: center;
    margin: 10px auto;
  }

.butt {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.0 );
    /* margin-bottom: 5px; */
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid #272727 2px;
}

.butt:hover {
    background-color: #3A3D5F;
    border: solid #3A3D5F 2px;
}

.footervalue {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.footervalue a {
    text-decoration:none;
}

#footertext {
    color: #272727;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
	font-family: var(--font);
	font-weight: 500;
	font-size: 12pt;
	visibility: hidden;
	width: 90px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 115%;
	left: 50%;
	margin-left: -45px;
	opacity: 0;
	transition: opacity 0.15s;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
    transition: opacity 0.15s;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s;
  }


#c {
    color: #494949;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    max-width: 450px;
    /* width: 100%; */
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

.menu {
    width: auto;
    text-align: center;
    margin: 7px auto 20px auto;
  }

.menubutt {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.0 );
    /* margin-bottom: 10px; */
    padding: 6px 15px;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    /* border: solid #272727 2px;    */
    color: #ffffff;
    font-family: var(--font);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.playlist {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.0 );
    margin-bottom: 10px;
    padding: 0px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid #272727 2px;
}

.backbutt {
    display: inline-block;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.0 );
    /* margin-bottom: 10px; */
    padding: 6px 15px;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    /* border: solid #272727 2px;    */
    color: #ffffff;
    font-family: var(--font);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
 
